*{
    margin: 0;
    padding:0;
}


  /******************* LOADER **************/

#load img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    animation : spin 1.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
}

#myDiv{
    display:none;
    
}


@keyframes spin{
    0%{  transform: rotate(0deg); }
    100%{transform: rotate(360deg);}
}
/******/

/***************** barre de nav ********/

ul{
    list-style-type: none;
    background-color: #790606;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

nav{
    background-color: #33010186;
    text-shadow: 0.1em 0.1em 0.2em black;
}

nav img{
    display: block;
    margin: auto;
    width: 600px;
    height: 200px;
}

a {
   font-size:18px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
}

.deroulant a{
    color: rgb(250, 246, 246);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.deroulant a:hover{
background-color: brown;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul{
    display: block;
    z-index:9999;
    display: list-item;
    position: absolute;
    margin-top: 5px;    
}

nav ul li ul li{
    padding: 13px 0;
}

nav ul li ul a{
    font-size: 14px;
    text-shadow: 0.1em 0.1em 0.2em black;
}



/*************************************/

h1{
    color:rgb(252, 251, 251);
    text-align: center;
    font-size:  30px;
    font-family: 'Doctor Glitch' , sans-serif ;
    padding: 25px 0 0 0;
    
}



.video {
    width: 100%;
    height:540px;
}
    

video{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.fond{
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 200px;
}

.container p{
    margin-right: 170px;
    font-size: 18px;
}


.image img{
    width: 290px;
    height: 529px;
}


/****************** SECTION GRAND TITRE **********************/

.grand-titre p{
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;   
    padding-bottom: 50px; 
}

/****************** LES DEUX PETITES CARD ********************/

.londres{
    display: flex;
    justify-content: space-around;
  }

.bloc, .blooc{
    text-align: center;
    width: 500px;
    height: 450px;
    background-color: rgba(54, 54, 54, 0.26) ;
}

.bloc p:nth-of-type(2), .blooc p:nth-of-type(2){
    color: #b80000;
}

.bloc p:nth-of-type(3), .blooc p:nth-of-type(3){
    line-height: 22px;
    text-align: justify;
    padding: 0 50px;
    font-size: 16px;
}

.bloc img, .blooc img{
    width: 500px;
    height: 200px;
}

.vertical-line{
    border-left: 1px solid rgba(0, 145, 241, 0.377);
    display: inline-block;
    height: 300px;
    margin-top: 50px;
  }


  /**********PERSONNAGES***************/
.personnage{
    background-color: rgb(0, 4, 43);;
}
.sab img{
    width: 600px;
    height: 400px;
    float: left;
}

.deux-bloc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description{
    margin: 0 200px;
    padding: 0 0 40px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h{
    font-size: 22px;
    margin: 10px 0;
}

.sous-texte{
    font-size: 15px;
}

.description p{
    margin-top: 10px;
    text-align: center;
}

.bagley{
    display: none;
}

/****************** SECTION CARD ***************/

.grand-titre h3{
    text-align: center;
    color: #b80000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 0 25px 0;

}

/****************SECTION TYPES DE PERSONNAGES***************/
.perso{
    background-color: rgb(0, 4, 43);
}

.bloc-perso{
    margin: 10px 30px;
    text-align: justify;
}


.titre h1{
    color: white;
    padding-bottom: 10px;
}

.titre p{
    text-align: center;
    padding-bottom: 15px;
}
.img {
    width: 100%;
    height:540px;
}

.titres{
    font-size: 22px;
    font-weight: bold;
}


.img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}


.def{
    padding: 13px 25px;
}


/***********MISSIONS *****/

.bloc-galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galerie{
    width: 180px;
    height: 110px;
    margin: 60px 30px;
}
.galerie img{
    width: 180px;
    height: 110px;
}

.galerie p{
    font-size: 14px;
    text-align: center;

}


div.bloc-liste{
    padding: 10px 30px;
}


.objectifs{
    margin-top: 25px;
    font-weight: bold;
    font-size: 22px;
}

/************* GADGETS ET TECH ****************/

.blocone{
    display: flex;
    justify-content: space-around;
    padding: 0 130px;
    text-align: center;
    align-items: center;
    
}

.petitblocun{
padding: 100px 50px 100px 0;
}

.background{
    height: 130px;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}



/******************RESPONSIVE*************/




@media screen and (max-width: 810px){
    .image img{
        width: 190px;
        height: 329px;
    }

    .container{
        margin: 50px 100px;
    }

    .bloc, .blooc{
        width: 330px;
        height: 580px;
        margin: 0 70px;
       }
   
    .bloc img, .blooc img{
       width: 230px;
       height: 130px;
       }
   
    .sab img{
       width: 300px;
       height: 200px;
       }

    .blocone{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .petitblocun{
        padding: 30px 0;
    }


    .petitblocdeux img{
        width: 150px;
        height: 150px;
    }

    .titres{
        margin-bottom: 20px;
    }

    .menu-deroulant img{
        width: 400px;
        height: 100px;
        padding: 20px;
    }
}


@media screen and (max-width: 780px){
    .container{
        margin: 50px;
    }

    .petitblocun{
        padding: 30px 0;
    }

    .londres{
        display: flex;
        flex-direction: column;
    }

    .vertical-line{
        display: none;
    }

    .container{
        margin: 5px;
        font-size: 11px;
    }

    .container p{
        font-size: 15px;
        padding-left: 20px ;
    }

    .image img{
        width: 170px;
        height: 300px;
    }

    nav img{
        width: auto;
        height: 100px;
    }

    .bloc, .blooc{
        margin: 0 auto;
    }

    
}

@media screen and (max-width: 450px){
    .menu{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container{
        margin: 20px 20px;
    }

    .container p{
        font-size: 13px;
        margin-right: 0;
    }
   
    .copyright p{
        display: none;
    }

    .menu-deroulant img{
        width: auto;
        height: 70px;
    }

    .bloc, .blooc{
        margin: 0 auto;
    }
    
    .description{
        margin: 0 20px;
    }

    .statut p{
        font-size: 14px;
        padding-left: 10px;
    }

    .blocone{
        padding: 0;
    }

    .titre h1{
        font-size: 17px;
    }

    .titre p{
        font-size: 14px;
    }

    nav ul{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
}

